<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shakiewakie">

    <application
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- Main Activity with launcher intent filter -->
        <activity android:name=".activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Alarm Activity -->
        <activity android:name=".activities.AddAlarmActivity"
            android:exported="true" />

        <!-- Alarm Ring Activity (Make sure it is declared) -->
        <activity android:name=".activities.AlarmRingActivity"
            android:exported="true" />  <!-- Added this line -->

        <!-- Alarm Receiver -->
        <receiver android:name=".utils.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

    <!-- Permissions for Alarm and Wake Lock -->
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>
